* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Put font-family in body since it was repeated multiple times in the body section */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/* Header Start */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;

}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
header h1 a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
/* Header End*/

/* Hero start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Hero End */

/* Content Section Start - condensed */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 100%;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.content-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.content-section img {
    max-height: 200px;
}
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.img-float-left {
    float: left;
    margin-right: 25px;
}
.img-float-right {
    float: right;
    margin-left: 25px;
}
/* Content Section End */

/* Beneft Section Start - condensed*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Benefit Section End */

/* Footer Start */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}
/* Footer End */

/* Wiewport scaling start*/
@media only screen and (max-width: 920px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .column {
        width: 100%;
    }
    .img-center {
        display: block;
        margin: auto;
        float: none;
        width: 35%;
    }
    .content-section {
        height: 100%;
    }
    .hero {
        height: 300px;
        width: 100%;
        background: cover;
    }
    .content {
        margin: auto;
    }
    header h1 {
        float: none;
    }
    header nav {
        width: auto;
        margin: auto;
        float: none;
    }
    header nav ul li {
        width: 100%;
        font-size: 15px;
        margin: auto;
    }
}
/* Viewport scaling end */